body {
    background-color: black;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

.circle {
    background-image: url('resources/images/patrick.jpg');
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
}